<%- include('partials/header', { title: 'Página de Ventas' }) %>
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenido a Mi Tienda</h1>
        <p class="lead">Encuentra los mejores productos aquí</p>
        <a class="btn btn-primary btn-lg" href="/products" role="button">Comprar Ahora</a>
    </div>
</div>
<%- include('partials/footer') %>
